:root {
    --red: hsl(18 100% 50%);
    --green: hsl(130 52% 46%);
    --yellow: hsl(44 83% 53%);
    --blue: hsl(215 100% 53%);
    --grey: hsl(0 0% 45%);
    --text: var(--gray-5);
    --transition: 0.2s;
    --valid: var(--green);
    --invalid: var(--red);
    --focus: var(--indigo-3);
    --blur: var(--indigo-1);
    --disabled: var(--grey);
}


.login-form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    /* border: .1rem solid black; */
    gap: .75rem;
}

.form-container {
    display: grid;
    gap: 1rem;
}

.or-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
}

.half-width-hr {
    width: 50%;
    height: .15rem;
    background-color: white;
    border: none;
    margin: 0;
    border-radius: 5rem;
}

.or-text {
    margin: 0 .75rem;
    font-weight: 600;
    color: white;
}

.login-icon:hover {
    transform: scale(1.2);
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

input {
    border: none;
    border-radius: .1rem;
    padding: .5rem .5rem;
    font-weight: 700;
    transition: border-color var(--transition);
    background-color: white;
    color: black;
    /* width: 10rem; */
}

input::placeholder {
    color: transparent;
}

.form-label {
    font-weight: 700;
    padding-right: .5rem;
    transform-style: preserve-3d;
    transition: color var(--transition);
    color: var(--color);
    font-size: 1rem;
}

.form-submit-button {
    transition: color var(--transition), background var(--transition);
    transition: transform 0.5s ease-in-out;
}

.anonymous-btn {
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.anonymous-btn:active {
    background-color: hsl(130 52% 46%);
    color: white;
}

.form-submit-button:active, .anonymous-btn:active {
    transform: scale(0.95);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    color: red;
}

.form-group:has(:invalid) {
    --color: var(--invalid);
}

.form-group:has(:focus) {
    --color: var(--focus);
}

.form-group:has(:valid) {
    --color: var(--valid);
}

.form-group:has(:placeholder-shown) {
    --color: var(--blur);
}


label span {
    display: inline-block;
}

.form-group:has(:invalid:not(:focus):not(:placeholder-shown)) .form-group__error {
    display: block;
}

.form-group:has(:focus) .form-group__error,
.form-group:has(:placeholder-shown:not(:focus)) .form-group__error {
    display: none;
}

form:valid [type="submit"] {
    background: var(--valid);
    /* color: var(--gray-1); */
    color: white;
}

.form-group__input {
    position: relative;
}

.form-group__error {
    display: none;
    white-space: nowrap;
    position: absolute;
    top: calc(var(--size-2) + 100%);
    left: 50%;
    color: var(--red);
    transform: translate(-50%, 0) scale(1);
    font-size: .75rem;
}

@media(prefers-reduced-motion: no-preference) {
    .form-group:has(:valid) label span {
        animation: wave 0.25s calc(var(--index) * 0.05s);
    }

    .form-group:has(:invalid:not(:focus)) {
        animation: shake 0.2s;
    }

    .form-group__error {
        animation: show-error 0.1s 0.2s both;
    }

    .form-group:has(:placeholder-shown:not(:focus)),
    .form-group:has(:placeholder-shown:not(:focus)) label span {
        animation: none;
    }

    @keyframes show-error {
        0% {
            transform: translate(-50%, -100%) scale(0);
        }
    }

    @keyframes wave {
        50% {
            transform: translateY(-50%);
        }
    }

    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }

        20%, 40%, 60%, 80% {
            transform: translateX(-2%);
        }

        10%, 30%, 50%, 70%, 90% {
            transform: translateX(2%);
        }
    }
}