.login-form-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.form-container {
    display: grid;
    gap: 1rem;
}

.progressbar {
    border: .1rem solid red;
    border-radius: 5rem;
}

.login-icon:hover {
    transform: scale(1.2);
}

.form-group {
    position: relative;
}

.form-input {
    transition: .5s ease-in-out;
    background-color: white;
    text-transform: lowercase;
}

input::placeholder {
    color: transparent;
}

.form-label {
    position: absolute;
    font-weight: 700;
    transform-style: preserve-3d;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0.5rem;
    pointer-events: none;
    font-size: 1rem;
    transition: ease-in 0.5s;
    color: black;
}



.form-group .form-input:focus~.form-label,
.form-group .form-input:not(:placeholder-shown)~.form-label {
    color: blue;
    transform: translateX(.7rem) translateY(-1.65rem);
    font-size: .75rem;
    padding: 0 .2rem;
    background-color: white;
    border-radius: 1rem;
}

.form-group .form-input:invalid:not(:placeholder-shown)~.form-label {
    color: red;
    transform: translateX(.7rem) translateY(-1.65rem);
    font-size: .75rem;
    padding: 0 .2rem;
    background-color: white;
    border-radius: 1rem;
}

.form-submit-button {
    transform: color white, background green;
    transition: transform 0.5s ease-in-out;
}

.form-submit-button.next, .form-submit-button.prev, .form-submit-button.submit {
    width: 48%;
}

.form-submit-button.prev, .form-submit-button.continue {
    background-color: #e8f0fe;
}

.alternative-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.anonymous-btn {
    width: 10rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    background-color: white;
}

.google-btn {
    width: 2.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    background-color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button-div {
    display: flex;
    justify-content: space-between;
    gap: .1rem;
}

.form-submit-button:active, .anonymous-btn:active, .google-btn:active {
    transform: scale(0.95);
}

form:valid [type="submit"], .anonymous-btn:active, .google-btn:active {
    background: #00c50b;
    color: white;
}

form:valid [type="signup"] {
    background: #00c50b;
    color: white;
}

.or {
    text-align: center;
    font-weight: bolder;
    color: black;
    font-size: .75rem;
}

@media only screen and (max-width: 600px) {
    .login-form-div {
        height: 100%;
    }
}