.connect-wallet {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #1E90FF;
    color: black;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.connect-wallet:hover {
    color: white;
}

.card {
    margin: 0;
    border: .1rem solid black;
    border-radius: 1rem;
    width: 15rem;
    height: 8rem;
    margin-top: 1rem;
    padding: .5rem;
    background-color: lightskyblue;
}

.eth-icon {
    border: .1rem solid black;
    border-radius: 100%;
    font-size: 2rem;
    padding: .5rem;
}

.eth-icon:hover {
    color: white;
}