.message-container {
    margin: 0;
    padding: .375rem 0;
    position: absolute;
    box-sizing: border-box;
    /* border: .1rem solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: calc(100%);
    bottom: 0rem;
    background-color: #f0f2f5;
}

.message-input {
    color: #2f88ff;
    border-radius: 5rem;
    width: auto;
    height: 2.25rem;
    /* font-weight: bolder; */
    box-shadow: none;
    font-size: medium;
    outline: none;
    border: none;
    /* border: .1rem solid whitesmoke; */
}

.message-mic {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    background-color: white;
}

.message-mic:active {
    color: #2f88ff;
}