.searchbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    border-radius: 5rem;
    height: 1.4rem;
    width: 1.4rem;
    text-transform: lowercase;
    flex: 1;
    border: .1rem solid black;
    color: black;
    /* vertical-align: middle; */
}

.searchbar:focus,
.searchbar:not(:placeholder-shown) {
    border: none;
    border: .05rem solid white;
    background-color: #444444;
    color: white;
    width: 7rem;
    height: 1.75rem;
}