.searchbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .4rem;
}

.searchbar {
    border-radius: 2.5rem;
    width: 7rem;
    height: 1.75rem;
    text-transform: lowercase;
}