.searchbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    border-radius: 2.5rem;
    width: 1.75rem;
    height: 1.75rem;
    text-transform: lowercase;
    flex: 1;
}

.searchbar:active {
    width: 7rem;
}