.blue::-webkit-scrollbar-thumb {
    background-color: blue;
}

.navbar-container {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    margin: 0.75rem 0 0 3rem;
    padding: 0rem;
    /* display: inline-block; */
    font-size: 1.5rem;
    font-weight: 900;
    background-color: white;
    /* border: 1px solid green; */
    cursor: pointer;
    top: 0;
}

.navbar {
    width: 3rem;
    height: 100vh;
    position: fixed;
    background-color: white;
    transition: width 200ms ease;
}

.navbar-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-li {
    width: 100%;
}

.navbar-li:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 3.5rem;
    text-decoration: none;
}

.nav-link-text {
    display: none;
}

.nav-icon {
    min-width: 1.75rem;
    margin: 0rem 0.62rem;
    min-height: 1.75rem;
    color: black;
    cursor: pointer;
}

.nav-icon:hover {
    color: blue;
}

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 3rem;
    }

    .navbar-ul {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .main-container, .header {
        margin: 0 .5rem;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 3rem;
        height: 100vh;
    }
}