.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: .75rem;
}

.div-a, .div-b {
    min-width: 10rem;
    min-height: 7rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    border: .1rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    background-color: lightskyblue;
    color: white;
}

.div-a:active, .div-b:active {
    transform: scale(0.95);
}