.search-container {
    display: grid;
    grid-auto-rows: 14rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: .5rem;
    padding: 0;
}

.card {
    border: .1rem solid white;
    background-color: #E6E6FA;
    font-size: 1rem;
    color: white;
    padding: .25rem;
}

.scrolltotop-div {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
}

#scrolltotop {
    position: fixed;
    bottom: .75rem;
    right: 2.25rem;
    z-index: 1;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-size: 2.5rem;
}

#scrolltotop:hover {
    color: white;
}