.search-container {
    display: grid;
    grid-auto-rows: 14rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: .5rem;
    padding: 0;
}

.card {
    border: .1rem solid white;
    background-color: #E6E6FA;
    font-size: 1rem;
    color: white;
    padding: .25rem;
}

.scrolltotop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}

#myBtn:hover {
    background-color: #555;
}