.footer, .pal-count {
    position: fixed;
    right: 3rem;
    font-weight: bold;
    bottom: 0;
    font-size: 1rem;
    padding: .1rem;
}

.pal-count {
    left: 3rem;
}

.footer:hover {
    content: "";
}

@media only screen and (max-width: 600px) {
    .footer, .pal-count {
        padding: 0;
        padding-right: .1rem;
        bottom: 3rem;
        color: white;
        font-size: .75rem;
    }

    .pal-count {
        color: black;
        left: 1rem;
        padding-left: .1rem;
    }
}