.footer {
    position: fixed;
    right: 3rem;
    font-weight: bold;
    bottom: 0;
    font-size: 1rem;
    padding: .1rem;
    opacity: .8;
}

.footer:hover {
    content: "";
}

@media only screen and (max-width: 600px) {
    .footer {
        bottom: 3rem;
        color: white;
    }
}