#root {
  max-width: 1280px;
}

.main-container {
  box-sizing: border-box;
  position: fixed;
  inset: 3rem 3rem 1.5rem 3rem;
  text-align: justify;
  font-weight: 500;
  overflow: auto;
  /* height: calc(100% - 4.5rem);  */
  padding: .5rem;
  border-radius: .75rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.75) 0px 0px 0px 1px; */
  border: .125rem solid #ADD8E6;


  /*Mozilla No Scroll*/
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
  .main-container {
    height: calc(100% - 6rem);
    inset: 3rem .5rem 1.5rem 3rem;
  }
}

div::-webkit-scrollbar {
  width: 0;
  scrollbar-width: none;
}

button {
  border: none;
  font-weight: 600;
  height: 2rem;
  color: black;
  cursor: pointer;
  border-radius: .4rem;
  font-size: .8rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.75) 0px 0px 0px 1px;
  background-color: white;
}

input {
  /* font-family: 'Edu SA Beginner', cursive; */
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 0, 0.75) 0px 0px 0px 1px;
  width: 10rem;
}