#root {
  max-width: 1280px;
}

.main-container {
  display: block;
  height: 80vh;
  margin-left: 3rem;
  /* border: 1px solid coral; */
  min-height: 80vh;
  box-sizing: border-box;
  margin-top: 3rem;
  white-space: pre-line;
}

.read-the-docs {
  color: #888;
}